html {
  --primary: #e3e3e3;
  --secondary: #606060;
  --tertiary: #e39b79;

  --space-sm: 1rem;
}

header * {
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: white;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1em;
}

header li {
  display: block;
  padding: 35px;
  font-family: Helvetica, sans-serif;
  font-weight: 50;
  font-size: 5px;
  color: #707070;
  border-style: none;
  margin: auto;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a,
a:visited,
a:active {
  color: inherit;
}

a:hover {
  background-color: #ff5800;
  transition: 0.5s;
}

@media (min-width: 1000px) {
}

body {
  background-color: #e3e3e3;
}

footer {
  background-color: #606060;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}


