html {
  --primary: #ddd;
  --secondary: #606060;
  --tertiary: #eb9e7b;

  --space-sm: 1rem;
}

header * {
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: white;
}

.header img {
  float: left;
  width: 250px;
  height: 60px;
  background: #555;
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5em;
}

header li {
  display: block;
  padding: 35px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 5px;
  color: #707070;
  border-style: none;
  margin: auto;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a,
a:visited,
a:active {
  color: inherit;
}

a:hover {
  background-color: #ff5800;
  transition: 0.5s;
}

@media (min-width: 1000px) {
}

body {
  background-color: #ddd;
}

footer {
  background-color: #606060;

  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 375;
  margin-bottom: 15px;
}

footer h1 {
  font-size: 35px;
  font-weight: 375px;
  margin: 0;
  color: white;
  font-family: Helvetica, sans-serif;
}
footer h2 {
  margin: 0;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 480;
  margin-bottom: 5px;
}
footer h3 {
  margin: 0;
  color: white;
  font-family: Helvetica, sans-serif;
}

footer img {
  width: 100px;
}

.grid_1-1-1 {
  display: grid;
  gap: 1em;

  grid-template-columns: 1fr 1fr 1fr;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
